# Venture Capital

In [2]:
import datetime
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import statistics 
from statistics import stdev
from fractions import Fraction as fr 
from matplotlib import rc
import statsmodels 
import seaborn

## Retornos Anuales

In [3]:
rtns_anuales = pd.read_csv('https://raw.githubusercontent.com/Dianachav/PAP_Spring_19/master/BD%20Capital%20de%20Riesgo/rtnsanuales-q42017.csv')
dfr = rtns_anuales
dfr

       Years  Horizon Return (%)
0     1 Year               11.08
1    2 Years                5.50
2    3 Years                8.03
3    4 Years               11.63
4    5 Years               15.30
5    6 Years               13.65
6    7 Years               13.57
7    8 Years               13.60
8    9 Years               12.27
9   10 Years                9.04
10  11 Years                9.59
11  12 Years               10.16
12  13 Years                9.88
13  14 Years               10.21
14  15 Years                9.45
15  16 Years                7.01
16  17 Years                4.35
17  18 Years                5.39
18  19 Years               20.54
19  20 Years               22.90

In [4]:
ds_r = dfr['Horizon Return (%)']

In [15]:
ds_m = dfr['Horizon Return (%)'].mean()
ds_m

11.157499999999999

In [6]:
ds_ds = dfr['Horizon Return (%)'].std()
ds_ds

4.670855748259908

In [7]:
print("La desviacion estandard anual es % s " 
                % (statistics.stdev(ds_r)))

La desviacion estandard anual es 4.670855748259909

In [8]:
print("El valor esperado del retorno anual es % s " 
                % (statistics.mean(ds_r)))

El valor esperado del retorno anual es 11.1575

## Indice Sharpe

Sharpe = rp-rf / ($\sigma$)

In [10]:
One_Year_Treasury_Bill_Rate = 0.0225
OYTBR = One_Year_Treasury_Bill_Rate
OYTBR

0.0225

In [11]:
Sharpe = ( ds_m - OYTBR ) / ds_ds
Sharpe

2.383931467836115

## Indice M^2

In [13]:
rend_merc = pd.read_csv('https://raw.githubusercontent.com/Dianachav/PAP_Spring_19/master/BD%20Capital%20de%20Riesgo/Rend_merc1.csv')
rm = rend_merc
rm

    Año  Rendimiento anual
0     1          -0.000594
1     2          -0.000555
2     3          -0.000564
3     4           0.000169
4     5           0.000521
5     6           0.000809
6     7          -0.000980
7     8           0.000030
8     9          -0.000131
9    10          -0.000527
10   11           0.000053
11   12           0.002535
12   13          -0.001652
13   14          -0.000595
14   15          -0.000151
15   16          -0.000293
16   17          -0.000538
17   18          -0.000444
18   19           0.000454
19   20          -0.000902

In [18]:
rmm = rm['Rendimiento anual'].mean()

In [17]:
rmd = rm['Rendimiento anual']
rmds = rmd.std()

In [19]:
rp = OYTBR*(1-(rmds/ds_ds)) + ds_m*(rmds/ds_ds)

In [20]:
M = rp - rmm
M

0.024696041138534738